.ai{
    margin-top: 1cm;
    height: 5cm;
    width: 17cm;
    margin-left: 1cm;
    text-align: justify;
    
 
}
.stud{
    position: absolute;
    transform: translateX(110%);
    top: 3cm;
    height: 6cm;
    width: 18cm;
    margin-left: 1cm;
    text-align: justify;
    display: flex;
    flex-direction: column;
}

h2 {
  background: linear-gradient(to right,rgb(230, 192, 68), purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.inter{
   height: 7cm;
    width: 14cm;
}
.qr{
  height: 7cm;
    width: 14cm;
}