.link{
    height: 1.5cm;
    display: flex;
    justify-content: flex-end;
    padding-right: 1cm;
    column-gap: 1cm;
    font-size: 23px;
    color: white;
    padding-top: 35px;
    background-image: linear-gradient(to right,purple,rgb(200, 183, 26),purple);
    
}
.link a {
  color: white;
  text-decoration: none;
}

.link a:hover {
  color: rgb(13, 72, 209); 
}
